name: Tests

on:
  push:
    branches: master

env:
  NODE_VERSION: 14

jobs:
  test:
    name: Jest
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - run: node --version
      - run: yarn --version

      - name: Yarn Install
        run: yarn

      - name: Run Tests
        run: yarn test
